body {
    background: #f6f6f6;
    color: #202020;
}

#tab-view {
    width: 900px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#tab-view ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 15px;
}

.tab {
    display: table;
    table-layout: fixed;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    /* line-height: 2.8em; */
    /* text-overflow: ellipsis; */
}

.tab-title {
    display: inline-block;
    /* display: table-cell; */
    white-space: nowrap;
    /* text-overflow: ellipsis; */


    /* text-overflow: ellipsis; */
    /* width: 30%;
    max-width: 30%; */
    /* line-height: 1.7em; */
    padding: 0.5em 0px;
}

.tab.selected, .tab:hover {
     background-color: #b6d2f7;
     /* border-radius: 5px; */
    /* background-color:#dcbc83; */
}

.tab-icon-wrap {
    display: table-cell;
    width: 30px;
    text-align: right;
}

.tab-icon {
    display: inline-block;
    vertical-align: -10%;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-size: contain;
}

.tab:hover .tab-close-button {
    visibility: visible;
}

.tab-close-button {
    display: table-cell;
    width: 30px;
    text-align: center;

    /* border: 1px solid green; */
    margin-right: 10px;
    /* width: 100px; */

    /* vertical-align: center;
    height: 2.7em; */
    height: 100%;
    /* padding: 0px 20px; */
    /* vertical-align: center; */


    /* margin-left: 6px;
    margin-right: 16px; */
    visibility: hidden;
    opacity: 0.5;
    color: white;
}

.tab-close-button:hover {
    /* border: 1px solid black; */
    opacity: 1.0;
    color: #da3a3a;
};
/* 
.tab-close-button:hover {
    border: 1px solid red;
}; */
input:focus {
    outline: none;
}

#tab-search {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #333333;
}

/* :focus, input:focus {
    outline: none !important;
} */