<html>
    <head>
        <script src="lodash.min.js"></script>
        <script src="vue.js"></script>
        <script src="view.js"></script>
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://platform.linkedin.com; img-src 'self' data: chrome-extension-resource: https: http:">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="css/fontawesome-all.css">
        <link rel="stylesheet" href="css/fa-solid.css">
    </head>
    <body>
        <div id="tab-view">
            <input id="tab-search" type="text" v-model="searchInput" v-on:input='onSearchInput($event.target.value)'  spellcheck="false" placeholder="Type '?' to get help">
            <div v-if="showHelp">
                <p>erstes</p>
                <div id="logo"></div>
            </div>
            <ol v-if="!showHelp">
                <li v-for="(tab, index) in tabs" v-bind:class="{tab: true, selected: index == keyboardSelectionIndex}" v-on:click="switchToTab(tab.id)" >
                    <span class="tab-close-button" v-on:click.stop="closeTab(tab.id)"><i class="fas fa-times-circle"></i></span>
                    <span class="tab-icon-wrap"><span class="tab-icon" v-bind:style="'background-image: url(' + tab.favIconUrl + ')'"></span></span>
                    <span class="tab-title" class="tab-link" v-bind:data-tabid="tab.id">
                        <!-- <span v-if="tab.searchScore">{{ tab.searchScore }}</span>
                        <span v-if="tab.searchPositions">{{ tab.searchPositions }}</span> -->

                        <span v-bind:class="{highlight : h.type == 'Selection'}" v-for="h in tab.highlights" v-if="tab.highlights">{{h.text}}</span>
                        <span v-if="!tab.highlights">{{ tab.title }}</span>
                        <span class="tab-url">{{tab.url}}</span>
                    </span>
                </li>
            </ol>
        </div>
    </body>
</html>